*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:1000px;
}
#parent{
    background-color: #e67e22;
    border-radius: 50%;
    height:120px;
    width:120px;
    position: fixed; 
    bottom: 50%;
    right:50%; 
    transform: translate(50px , 50px );
    
}
 .child{
    background-color: aliceblue; 
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 50%;
    right:50%; 
    transform: translate(50px , 50px );
    border-radius: 50%;
    line-height: 100px;
    text-align: center; 
    font-weight: bold;
    font-size: 20px;
} 
